main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--text-secondary);
    font-weight: bold;
    font-size: 70px;
}

h2 {
    margin: 0;
    padding: 0;
    color: var(--text-secondary);
    font-weight: bold;
    font-size: 15px;
}

.index-link-wrapper {
    margin-top: 20px;
}

.index-link {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}